:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-hover: #2196f3;
  --color-dark: #000000;
  --color-white: #ffffff;
  --mail-phone: rgba(255, 255, 255, 0.6);
  --color-background: #2f303a;
  --background: #f5f4fa;
  --button: #188ce8;
}
.page {
  color: var(--color-primary);
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.logo {
  color: var(--color-hover);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.logo-dark {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.logo-white {
  color: var(--color-white);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.nav {
  color: var(--color-primary);
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
}
.nav:hover {
  color: var(--color-hover);
}
.nav:focus {
  color: var(--color-hover);
}
.tel {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
}
.tel:hover {
  color: var(--color-hover);
}
.tel:focus {
  color: var(--color-hover);
}
ul {
  list-style: none;
}
.hiro {
  background: var(--color-background);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.btn {
  background: var(--button);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  background: var(--color-hover);
}
.btn:focus {
  background: var(--color-hover);
}
.button {
  background: var(--background);
  color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
}
.button:hover {
  color: var(--color-white);
  background: var(--color-hover);
}
.button:focus {
  color: var(--color-white);
  background: var(--color-hover);
}
.title {
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.title1 {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.pic {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.text {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.team {
  background: var(--background);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.img {
  background: var(--color-white);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}
.footer {
  background: var(--color-background);
}
.map {
  color: var(--color-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.map:hover {
  color: var(--color-hover);
}
.map:focus {
  color: var(--color-hover);
}
.mail {
  color: var(--mail-phone);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}
.mail:hover {
  color: var(--color-hover);
}
.mail:focus {
  color: var(--color-hover);
}
.phone {
  color: var(--mail-phone);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}
.phone:hover {
  color: var(--color-hover);
}
.phone:focus {
  color: var(--color-hover);
}
.portfolio {
  background: var(--color-white);
}
.subject {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.subtitle {
  color: var(--color-secondary);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
.a {
  text-decoration: none;
}
